.contentContainer {
    position: relative;
    padding-bottom: 2rem;
    background-color: black;
    z-index: -3;
    height: 100vh;
}

.content {
    padding: 0 1.5em;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease;
    opacity: 0;
    filter: brightness(45%)
}


.active {
    opacity: 1;
    filter: brightness(45%)
}
